/*.tabel_left{
    background: rgb(232, 243, 15);
}
.form_right{
    background: rgb(216, 233, 138);
}
.search{
    background: rgb(14, 113, 70);
}
.empety{
    background: rgb(18, 182, 171);
    height: 100px;
}*/

